<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center neonBlue">
		<div class="col col-3 bg-dark habilidades bg-dark" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-hdd-fill"></i>
			<h3>Back-end</h3>
			<p>
				Desarrollo ************************.
			</p>
			<p class="neonPink cabecera">
				Stack:
			</p>
			<p>
				ASP.NET Core, SQL Server C# PHP
			</p>
			<p class="neonPink cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Web APIs</li>
				<li>ASP.NET Core MVC</li>
				<li>Java</li>
				<li>PHP</li>
				<li>MySQL</li>
				<li>Oracle BDD</li>
				<li>Python</li>
			</ul>
		</div>
		<div class="col col-3 bg-dark neonBlue habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-code-slash"></i>
			<h3>Front-End</h3>
			<p>
				Puedo crear front-ends y +++++++++++ .
			</p>
			<p class="neonPink cabecera">
				*************:
			</p>
			<p>
				React, Angular, Blazor
			</p>
			<p class="neonTextAnimated cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Html</li>
				<li>Bootstrap</li>
				<li>Javascript</li>
				<li>CSS</li>
			</ul>
		</div>
	</div>
</div>