@{
    ViewData["Title"] = "alter";
}
<div class="text-center text-light neonBlue">
    <p><h1 class="display-4 zone m-0 p-0">Antonio</h1><h1 class="cyber m-0 p-0"> Zamacona</h1></p>
    <h2>Soy un desarrollador Programador de tecnologias .NET y JavaScript.</h2>
</div>

<div class="row justify-content-center text-center neonBlue">
    <div class="col col-md-7 seccion-bienvenida">
        <h1 >Te doy la bienvenida a mi CurriculumVitae</h1>
        <p>
            He estudiado Ciclo formativo de grado superior de DAW en Escuela Monlau
            He realizado varios proyectos durante mis estudios
        </p>
    </div>
</div>