@{
    ViewData["Title"] = "Experience";
}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var job in ViewBag.Vjobs)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@job.ImageURL" class="card-img-top" alt="imagen proyecto" />
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>