@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Vname</h1>
    <h2>Voy a ser un buen programador de ASP</h2>
    <img src="img/_05A.jpg" id="foto"/>
</div>
